@model StudentsCRUD.Models.StudentListViewModel
@{
                /**/

                ViewBag.Title = "Index";
}


<h2 style="text-align:center">Students</h2>

<button class="btn-success" style="border-radius:25px; background-color:#333; border-color:#333; height:3em; width:7em; margin-bottom:20px; ">
    @Html.ActionLink("Create new", "Create", "Student", new { @style = "color:white; text-decoration:none; font-weight:bold;" })
</button>

<table class="table">
    <thead>
        <tr class="btn-success" style="background-color:#333; border-color:#333;">
            <th style="text-align:center;">First Name</th>
            <th style="text-align:center;">Last Name</th>
            <th style="text-align:center;">Specialty</th>
            <th style="text-align:center;">FacultyNumber</th>
            <th style="text-align:center;">Username</th>
            <th style="text-align:center;">E-mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr class="bg-info text-white" style="text-align:center; background-color:transparent;">
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Specialty</td>
                <td>@student.FacultyNumber</td>
                <td>@student.Username</td>
                <td>@student.Email</td>
                <td>
                    <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                        @Html.ActionLink("Edit", "Edit", "Student", new { id = student.Id }, null)
                    </button>
                    <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                        @Html.ActionLink("Delete", "Delete", "Student", new { id = student.Id }, null)
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

