@model StudentsCRUD.Models.SubjectViewModel.SubjectViewModel
@{
    ViewBag.Title = "Create";
}

<h2 style="text-align:center">Create</h2>

@using (Html.BeginForm())
{
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Teachers, htmlAttributes: new { @class = "control-label col-md-5"})
            <div class="col-md-offset-5">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <select name="TeacherId" id="teachers" class="form-control col-md-offset">
                        <option value="" selected placeholder="Choose Teacher"></option>
                        @foreach (var item in Model.Teachers)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <br />
            @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "control-label col-md-5" })


            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-5" })


            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Credits, "Credits", htmlAttributes: new { @class = "control-label col-md-5" })


            @Html.EditorFor(model => model.Credits, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Credits, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Create" class="btn-success" style="border-radius:15px; background-color:#333; border-color:#333; height:2.5em; width:5em;"  />

                <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                    @Html.ActionLink("Cancel", "Index")
                </button>
            </div>
        </div>
    </div>

}

