@model StudentsCRUD.Models.SubjectViewModel.SubjectListViewModel
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Subjects</h2>

<button class="btn-success"  style="border-radius:25px; background-color:#333; border-color:#333; height:3em; width:7em; margin-bottom:20px; ">
    @Html.ActionLink("Create new", "Create", "Subject", new { @style = "color:white; text-decoration:none; font-weight:bold;" })
</button>


<table class="table">
    <thead>
        <tr class="btn-success" style="background-color:#333; border-color:#333;">
            <th style="text-align:center;">Teacher</th>
            <th style="text-align:center;">Subject Title</th>
            <th style="text-align:center;">Description</th>
            <th style="text-align:center;">Credits</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subjects in Model.Subjects)
        {
            <tr class="bg-info text-white" style="text-align:center; background-color:transparent;">
                <td>@subjects.Teacher.FirstName  @subjects.Teacher.LastName</td>
                <td>@subjects.Title</td>
                <td>@subjects.Description</td>
                <td>@subjects.Credits</td>
                <td>
                    <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                        @Html.ActionLink("Edit", "Edit", "Subject", new { id = subjects.Id }, null)
                    </button>

                    <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                        @Html.ActionLink("Delete", "Delete", "Subject", new { id = subjects.Id }, null)
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>

