@model StudentsCRUD.Models.SubjectViewModel.SubjectListViewModel
@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<style>
    /*Here is the social media buttons css*/
    .social {
        width: 30px;
        height: 30px;
        float: left;
        background: rgb(255,255,255);
        border: 1px solid rgb(204,204,204);
        box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
        border-radius: 100px;
        padding: 6px 6px;
        margin: 0 10px 10px 0;
    }

    .fa {
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        text-decoration: none;
    }

    .facebook {
        padding: 6px 10px;
    }

    .linkedin {
        padding: 5px 8px;
    }

    .google-pluse:hover {
        background: #DD4B39;
        color: #FFF;
    }

    .facebook:hover {
        background: #3b5998;
        color: #FFF;
    }

    .linkedin:hover {
        background: #0e76a8;
        color: #FFF;
    }

    .twitter:hover {
        background: #00acee;
        color: #FFF;
    }
    /*Until here*/
    .events-list-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        padding: 20px;
    }

    .events-list .events-list-box {
        background: #fff;
        float: left;
        margin-bottom: 20px;
        position: relative;
    }

    img {
        width: 491px;
        height: 323px;
    }

    .title {
        font-size: 26px;
        line-height: 1.2;
        padding-bottom: 10px;
        color: #5d5d5d;
    }

    .description {
        color: #5d5d5d;
        font-size: 16px;
    }

    .reg-btn {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        background: #26c4f4;
        width: 100%;
        border-radius: 3px;
    }
</style>


<br />
<h1 style="text-align:center; margin-top:25px; color:#333; ">My Tickets</h1>
<br />
<br />


@foreach (var subject in Model.Subjects)
{
    <div class="row">
        <div class="events-list-container">

            <div class="events-list-box col-md-12">
                <div class="col-md-6 ">
                    <a href="@Url.Action("ShowTeacherSubjects", "Subjects", new { id = subject.Id }, null)">Some text here</a>
                </div>
                <div class="col-md-6">
                    <div class="info">
                        <a href="https://www.economedia.bg/shimg/zx491y323_3295450.jpg">
                            <div class="title">
                                @subject.Title
                            </div>
                        </a>
                    </div>

                    <div class="description">
                        <span class="date">
                            @subject.Description
                        </span>
                        <br />
                        <span><i class="fas fa-map-marker-alt" style="color:black; margin-right:5px;"></i>Place:</span>
                        <span class="place">
                            @subject.Credits
                        </span>
                        <br />
                    </div>

                </div>


                <div>
                    @*<button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                        @Html.ActionLink("Read", "ShowEvent", "Events", new { id = ticket.Event.Id }, null)
                    </button>

                    <button class="btn-default" style="border-radius:15px; height:2.5em; width:7em;">
                        @Html.ActionLink("Get Ticket", "Create", "Ticket", new { id = ticket.Event.Id }, null)
                    </button>*@

                    <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                        @Html.ActionLink("Delete", "Delete", "Ticket", new { id = subject.Id }, null)
                    </button>
                </div>


                <h5>Share event</h5>
                <div class="social google-pluse">
                    <i class="fab fa-google-plus-g"></i>
                </div>
                <div class="social facebook">
                    <i class="fab fa-facebook-f"></i>
                </div>

                <div class="social linkedin">
                    <i class="fab fa-linkedin-in"></i>
                </div>

                <div class="social twitter">
                    <i class="fab fa-twitter"></i>
                </div>

            </div>

        </div>
    </div>
}
<div>
    @if (!Model.Subjects.Any())
    {
        <h1 style="margin-top:25px; color:#333; "> @ViewBag.Message </h1>
    }
</div>